.navbar-container {
    height: 60px;
}

.navbar-wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #e2f1ff, transparent);
}

.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 1;
    text-align: center;
}

.navbar-logo {
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    color: #000;
}

.navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-menu-item {
    font-size: 14px;
    cursor: pointer;
    margin: 0 12px;
    color: #000;
    text-decoration: underline;
    font-weight: 500;
}

@media only screen and (max-width: 500px) {
    .navbar-container {
        height: 50px;
    }
    .navbar-wrapper {
        padding: 10px 0;
        height: 50px;
    }
    .navbar-logo {
        font-size: 24px;
    }
    .navbar-menu-items {
        font-size: 12px;
        margin-left: 10px;
    }
}
