.product-card-container {
    width: 225px;
    text-align: left;
    display: inline-block;
    margin: 0 20px 30px;
}

.product-card-image {
    display: flex;
    align-items: center;
    height: 280px;
    background: #ffe5e5;
    transition: 0.2s ease;
}

.product-card-image img {
    width: 100%;
}

.product-card-image:hover {
    box-shadow: 0 2px 16px 4px rgba(40, 44, 63, 0.07);
}

.product-card-info {
    background: #fff;
    padding: 0 10px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.product-card-brand {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-card-name {
    color: #535766;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.product-card-price {
    margin: 6px 0;
    font-weight: 600;
}

.product-card-right svg {
    font-size: 20px;
    color: #fd2f2f;
    cursor: pointer;
}
