*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
}

/* Common Classes */

.products-title {
    margin: 20px;
    letter-spacing: 5px;
    /* text-align: center; */
    /* background: linear-gradient(180deg, #616161, transparent); */
    /* background: radial-gradient(#ffffff, #e8eeff); */
    /* background: radial-gradient(#ffffff, #f3f6ff); */
    /* padding: 10px 0; */
}

.product-gen {
    color: grey;
    margin: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.products-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.filter {
    margin: 20px;
}

.filter-text {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.filter-select {
    padding: 10px;
    margin-right: 20px;
}

@media only screen and (max-width: 380px) {
    .filter {
        width: 0 20px;
        display: flex;
        flex-direction: column;
    }
    .filter-text {
        margin-right: 0;
    }
    .filter-select {
        margin: 10px 0;
    }
}
