.product-wrapper {
    padding: 50px;
    display: flex;
}

.product-image-container {
    flex: 1;
}

.product-image {
    width: 100%;
    object-fit: cover;
}

.product-info-container {
    flex: 1;
    padding: 0 50px;
}

.product-brand-title {
    font-weight: 500;
    margin-bottom: 20px;
}

.product-title {
    font-weight: 200;
}

.product-description {
    margin: 20px 0;
    font-size: 17px;
}

.product-price {
    font-weight: 100;
    font-size: 40px;
}

.product-filter-container {
    width: 50%;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.product-filter {
    display: flex;
    align-items: center;
}

.product-filter-title {
    font-size: 20px;
    font-weight: 200;
}

.product-filter-size {
    margin-left: 10px;
    padding: 5px;
}

.product-location-title {
    color: #454545;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    width: fit-content;
    margin-bottom: 20px;
    font-weight: 300;
}

.product-location-main {
    padding: 10px;
    border: 2px solid #383838;
    font-size: 17px;
    letter-spacing: 0.2px;
}

@media only screen and (max-width: 380px) {
    .product-wrapper {
        padding: 10px;
        flex-direction: column;
    }
    .product-image {
        height: 40vh;
    }
    .product-info-container {
        padding: 10px;
    }
    .product-filter-container {
        width: 100%;
    }
}
